@media(min-width:768px){
    .news-input{
        width: 50%;
    }
}
#mainCarousel .carousel-item img {
  height: 20vh; /* daha düşük yükseklik */
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
@media (max-width: 768px) {
  #mainCarousel .carousel-item img {
    height: 30vh;
  }
}


body{
  font-family: Inter;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.2); /* siyah yarı saydam arka plan */
  padding: 1rem;
  border-radius: 8px;
}
#handwriting{
  font-family: pacifico;
  font-size: 18pt;
}